body {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.navbar {
  background-color: #D2B48C;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: bolder;
  margin-right: 10px; /* Add margin to separate logo from nav links */
}

.logo {
  padding: 10px;
  font-size: 24px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 5rem;
  justify-content: flex-end;
  align-items: center; /* Align nav links vertically */
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
  font-style: italic;
}

.navbar a:hover {
  color: #B5CC82;
}

footer {
  background-color: #333333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  font-size: 20px;
  margin: 0; /* Remove default margin */
}

.footer p a {
  color: white;
  text-decoration: none;
}

.grid-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  margin: 0;
  padding: 0;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative; /* Ensure relative positioning for absolute positioning of pseudo-element */
  background: url(https://media.istockphoto.com/id/1428437700/photo/mini-cookies-and-cream-cheesecakes.webp?b=1&s=170667a&w=0&k=20&c=jiB0TO2S3Wj17rrhpmj77J0CTeBVfKrBlpITuvjNFXo=) no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Add a color overlay */
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.home .homeContent {
  width: 50%;
  float: left;
  text-align: center;
  padding-bottom: 30px;
}

.home .homeContent h2 {
  font-size: 7rem;
  font-weight: bolder;
  color: white; /* Set text color */
}

.home .homeContent p {
  color: white;
}

.menu-section {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.menu-item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item img {
  max-width: 200px;
  max-height: 150px;
  border-radius: 5px;
}

.menu-item p {
  margin: 10px 0 5px;
  font-weight: bold;
}

.contact-content {
  padding-top: 5px;
  padding-left: 40%;
  padding-bottom: 5%;
}

.contact-container {
  border: 3px solid black;
  max-width: 300px;
  padding: 20px;
  border-radius: 5x;
}

input[type=text], textarea {
  width: 95%;
  padding: 10px;
  border: 3px solid black;
}

input[type=submit] {
  background-color: #B5CC82;
  cursor: pointer;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */