.navbar {
    background-color: #D2B48C;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 24px;
    font-weight: bolder;
    margin-right: 10px; /* Add margin to separate logo from nav links */
}

.logo {
    padding: 10px;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center; /* Align nav links vertically */
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
    font-style: italic;
}

.navbar a:hover {
    color: #B5CC82;
}
