.about-heading h2 {
  font-weight: 800;
  padding-top: 25px;
  padding-left: 40%;
  padding-bottom: 5%;
}

.about-content {
  padding-bottom: 5%;
  padding-top: 30px;
}

.about-content h3 {
  font-weight: 600;
  padding-left: 40%;
}

.about-img {
  padding-top: 30px;
  padding-left: 25.5%;
}

.text-container {
  max-width: 75rem;
  padding-left: 40px;
  padding-top: 20px;
  font-weight: 450;
}

.text-container .about-text {
  font-size: 18px;
  font-weight: 450;
}

.about-ceo {
  padding-top: 50px;
}

.about-ceo h4 {
  padding-left: 40%;
  font-weight: 600;
}

.about-ceo .ceo-img {
  padding-top: 20px;
  padding-left: 25.5%;
  height: 500px;
  width: 55rem;
}

.ceo-text {
  max-width: 75rem;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 450;
}
