.banner {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; /* White text for contrast */
    text-align: center;
    padding: 20px;
    font-size: 24px; /* Increase font size for emphasis */
    font-weight: bold; /* Make text bold for emphasis */
    
}
